<div ng-cloak>
    <div class="row">
        <h1>Running: {{vm.expertSystem.title}}</h1>
        <hr/>
        <div class="col-md-12">
            {{vm.item.text}}
            <div>
                <button class="button" ng-repeat="answer in vm.answers" ng-click="vm.selectedAnswer(answer)">
                    {{answer.text}}
                </button>
            </div>
        </div>
    </div>
    <hr/>
    <div>
        <button class="button" ng-click="vm.restart()">Restart</button>
    </div>
</div>
